@import url(../templates/default.css);
@import url(../templates/navigasi.css);
@import url(../templates/footer.css);

.container-content{
    margin: 4rem 0 5rem;
}

.title {
    display: flex;
    width: 18rem;
    height: 3.4rem;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}

.title h1{
    margin-left: 1rem;
}

.banner{
    height: 20rem;
    background-color: aqua;
    background-image: url(../../../img/daftarBarang/1\(1\).png);
    background-size: cover;
    background-position: center;
}

.content{
    position: relative;
    top: -12rem;
    padding: 0 10rem;
}




